# Environment and Virtual Environments
.env
.venv/
env/
venv/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
clean_env/